body {
    background-color: #bfc5c8;
}
header {
    margin: 1em  0 1em;
}

header h1 {
    text-align: center;
}


.fic img {
    width: 50px;
}

.fic img:hover {
    cursor: pointer; 
}

/* Menu */
#nav button {
    padding: 0;
}

#ligneNav {
    display: flex;
}

#up, #home {
    width: auto;
    flex: auto 0 1;
    min-width: 30px;
    margin-right: 4px;
}

#monPath {
    width: auto;
    flex: auto 1 0;
}

#nav select {
    width: auto;
    display: inline-block;
}

/* listing */
#lst h2 {
    font-family: typewriter;
    margin-bottom: 1em;
}

/* Bloc des vignettes */
#lst article.fic  {
    text-align: center;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
    border-radius: 10px;
}

.table tbody {
    background-color: white;
}

.table thead tr th{
    background-image: linear-gradient(0, grey, lightgrey 50%, grey);
    border-top: 0;
}

.table thead tr:first-child > th:first-child {
    border-top-left-radius: 10px;
}

.table thead tr:first-child > th:last-child {
	border-top-right-radius: 10px;
}

.table td .table th {
    border-top-color: white;
}